<mat-toolbar color="accent">
    <span>Taller Dils</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Home</button>
    <button mat-button routerLink="/crear-vehiculo">Nuevo vehiculo</button>
    <button mat-button routerLink="/ver-reparaciones">Reparaciones</button>
    <button mat-button>Graficos</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar>
