.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.login{
    margin-top: 30px;
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.ancho{
    width: 80%;
    align-items: center;
}

.spinner{
    margin-top: 50px;
    align-items: center;
    margin: 0 auto;
}