<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner" diameter="35"></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="logear()">
      <img src="../../../assets/img/usuario.png" width="50%" />
      <h1>Login</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>usuario</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="usuario" />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>contraseña</mat-label>
        <input type="password" matInput autocomplete="off" formControlName="pass" />
      </mat-form-field>
      <br />
      <button type="submit" mat-raised-button color="primary">Iniciar sesion</button>
    </form>
  </div>
</div>
