<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo | uppercase}}</span>
                    <form class="mt-3" [formGroup]="vehiculoForm" (ngSubmit)="crearVehiculo()">
                        <div class="mb-3">
                            <input type="text" formControlName="matricula"
                             class="form-control" placeholder="Matricula">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="marca"
                             class="form-control" placeholder="Marca del vehiculo">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="color"
                             class="form-control" placeholder="Color del vehiculo">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="tVehiculo"
                             class="form-control" placeholder="Deportivo o Todo Terreno">
                        </div>
                        <div class="mt-3">
                            <button routerLink="/dashboard" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" class="btn btn-success btn-lg float-end">ENVIAR</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
